<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/" py:strip="">

<head py:match="head" py:attrs="select('@*')" once="true">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" py:strip="" />
    <title py:with="title = list(select('title/text()'))">
      Везилка<py:if test="title">: ${title}</py:if>
    </title>
    <link rel="stylesheet" href="${req.url_for('/static/style.css')}" type="text/css" media="screen" /> 
    <script type="text/javascript"
        src="${req.url_for('/static/jquery.js')}"></script>
    ${select('*[local-name()!="title"]')}
</head>

<body py:match="body" py:attrs="select('@*')" once="true">
<div id="main_content">
  <div py:if="c.message" id="notice" py:content="c.message"/>
  <div py:replace="select('*|text()')"/>
</div>

<div id="footer">
  <p>Везилка: Werkzeug, Genshi, CouchDB</p>
  <p>Copyleft 2009 etc...</p>
</div>
</body>
</html>
